html,
body,
.app {
  height: 100vh;
  background: #eee;
  padding: 1em;
}

/* DataTable.js */
.dataTable {
  padding: 20px 10px;
}

/* Contribution.js */
.contribution{
  color:white !important;
}
.contribution th, .contribution td{
  /* background: white; */
  color: rgba(255,255,255,.5) !important;
}

.ownContribution{
  color:white !important;
}

/* DataTable.js */
.currentPage {
  color: blue !important;
}

.pageDisabled {
  cursor: no-drop !important;
}
